<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>header}}
    <!-- Main Body Start -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left Side Div -->
            <div class="col-md-6 col-12 main_header_left">
              <p style="font-size: 40px;"><span style="color: #0097e6;">404</span> OOPS!</p>
              <h1>Page Not <span> Found </span> On This Site</h1>
              <a href="/"><button>Go Back</button></a> 
            </div>
            <!-- right Side Div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                  <img
                    src="./Images/404.jpg"
                    alt="Profile"
                    class="container-fluid"
                    title="Tapan Radadiya"
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main Body -->
    <!-- Footer -->
    {{>footer}}
    <!-- Footer -->
  </body>
</html>