<html lang="en">
  <head>
   {{>headerlinks}}
  </head>
  <body>
    {{>header}}
    <!-- Main Body Start -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left Side Div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome To About Page</p>
              <h1>Click The <span>Logo</span> to know more</h1>
              <!-- <a href="/weather"><button>Check Weather Now</button></a> -->
            </div>
            <!-- right Side Div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <a
                  href="https://tapan-radadiya.github.io/Portfoliyo/index.html"
                >
                  <img
                    src="./Images/profile.jpg"
                    alt="Profile"
                    class="container-fluid"
                    title="Tapan Radadiya"
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main Body -->
    <!-- Footer -->
    {{>footer}}
    <!-- Footer -->
  </body>
</html>